
:root{
    --color-principal: #FF5A5F;
    --color-primary-hover:#d64246;
    --color-verde:#04A75B;
    --color-negro: #444A47;
    --color-fondo1: #ebe6e6;
    --color-fondo2: #cbdce2;
    --color-footer: #151515;
    --color-blanco: #F7F9FD;

}

*,::after, ::before{
    box-sizing: border-box;
}

*{
    padding: 0px;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.hm-wrapper{
    position: relative;
}

.hm-wrapper, body{
    min-height: 100%;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}

.bg-fondo1{
    background: var(--color-fondo1);
}

.bg-fondo{
    background: var(--color-fondo2);
}

.container{
    width: 1122px;
    padding: 0 30px;
    margin: 0 auto;
}

@media screen and (min-width: 1px){
    .container{
        width: auto;
        max-width: 1122px !important;
    }
}

.uppercase{

    text-transform: uppercase !important;
}

/*=================================
    ESTILOS: Botones
==================================*/

.hm-btn{
    display: inline-block;
    position: relative;
    padding: 12px 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    outline: 0;

}

.btn-primary{
    background: var(--color-principal);
    color: #ffffff;
    border-radius: 25px;
    text-align: center;
}

.btn-primary:hover{
    background: var(--color-primary-hover);
}



/*=================================
    ESTILOS: Headerhm
==================================*/

.header-menu-movil{
    display: none;
}


.hm-header{
    position: relative;
    height: 78px;
    line-height: 100px;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    box-sizing: border-box;
    background-color:#1c3650;
}
.hm-header .container{
    height: 100%;
}

.hm-header.header-fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 8%);
    z-index: 99;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-menu{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-menu .hm-logo{
    width: 110px;
}

.hm-menu{
    display: flex;
    position: relative;
}

.hm-menu ul{
    display: flex;
}

.hm-menu ul li a{
    color: var(--color-blanco);
    font-size: 15px;
    margin-right: 30px;
    display: inline-block;
}

.hm-menu ul li a:hover{
    color: var(--color-principal);
}

.hm-menu .hm-icon-cart{
    margin-left: 10px;
}

.hm-menu .hm-icon-cart a{
    font-size: 33px;
    color: var(--color-blanco);
    position: relative;
}

.hm-menu .hm-icon-cart a span{
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    top: 2px;
    right: -2px;
    font-size: 10px;
    border-radius: 50%;
    background: var(--color-principal);
    color: #fff;
    
}

/*=================================
    ESTILOS: banner
==================================*/
.sobre-nosotros {
    background: url(../img/fondo_banner.png);
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

.sobre-nosotros .container {
  display: flex;
  align-items:self-start;
  justify-content: space-between;
}
h3{
    color: #000;
    font-size: 30px;

}
.sobre-nosotros-content {
  flex: 1;
  padding-right: 50px;
}

.sobre-nosotros h2 {
  font-size: 2.5em;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 40px;
}

.sobre-nosotros  {
  font-size: 1.1em;
  line-height: 1.6;
  color: #ffffff;
  align-items: center;
  font-size: 30px;

}

.sobre-nosotros-image {
  flex: 1;
  text-align: right;
}

.sobre-nosotros-image img {
 
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .sobre-nosotros .container {
    flex-direction: column;
  }
  
  .sobre-nosotros-content {
    padding-right: 0;
    margin-bottom: 30px;
  }
}

.hm-banner{
    position: relative;
    width: 100%;
    height: 800px;
    min-height: 600px;
    overflow: hidden;
}

.hm-banner a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
}
/*=================================
.hm-banner .img-banner{
    height: 100%;
}


/*=================================
    ESTILOS: categorias home
==================================*/
.hm-page-block{
    position: relative;
    padding: 60px 0px;
}

.header-title{
    margin-bottom: 50px;
}

.header-title h1{
    color: var(--color-negro);
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 16px;
}

.header-title h1::after{
    content: '';
    width: 76px;
    height: 5px;
    background: var(--color-principal);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 3px;

}

.hm-grid-category,
.grid-product{
    display: grid;
    grid-template-columns: repeat(4,calc(25% - 2rem*3/4));
    row-gap: 2rem;
    column-gap: 2rem;
    max-width: 1122px;
}

.hm-grid-category .grid-item{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    max-height: 360px;
    
}

.hm-grid-category .grid-item img,
.grid-product .product-item .p-portada img{
    transition: all .3s ease-in;
}

.hm-grid-category .grid-item img:hover,
.grid-product .product-item .p-portada img:hover{
    transform: scale(1.07);
}

.hm-grid-category .grid-item:hover .c-info{
    transform: translateY(0%);
}

.hm-grid-category .grid-item .c-info{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 20px;
    background: rgba(0, 0, 0, 40%);
    transform: translateY(100%);
    transition: all .3s ease-in;
}

.hm-grid-category .grid-item .c-info h3{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}


/*=================================
    ESTILOS: Productos destacados
==================================*/

.hm-tabs{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.hm-tabs .hm-tab-link{
    margin: 0px 20px;
    background: #fff;
    border:1px solid #EEF5F9;
    padding: 10px 30px;
    border-radius: 22px;
    color: #7C807E;
    cursor: pointer;
    transition: all .3s;
}

.hm-tabs .hm-tab-link.active,
.hm-tabs .hm-tab-link:hover{
    background: var(--color-principal);
    color: #fff;
}

.hm-tabs .hm-tab-link.active .tabs-content{
    background: red;
}
/* CONTENIDO TABs */
.tabs-content{
    display: none;
    padding-top: 50px;
}

.tabs-content.tab-active{
    display: block;
}

.grid-product .product-item{
    overflow: hidden;
    background: #fff;
    border:1px solid #EEF5F9;
    border-radius: 5px;
    
}

.grid-product .product-item:hover{
    /* box-shadow: 0px 8px 24px rgba(174,172,243,40%); */
    box-shadow: 0px 8px 24px rgba(220,229,245,63%);
}


.grid-product .product-item .p-portada{
    width: 100%;
    height: 265px;
    position: relative;
    overflow: hidden;
}

.grid-product .product-item .p-portada .stin{
    position: absolute;
    left: 12px;
    bottom: 12px;
    background: var(--color-fondo);
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 16px;
}


.grid-product .product-item .p-portada .stin.stin-new{
    background: var(--color-verde);
    color: #fff;
}

.grid-product .product-item .p-portada .stin.stin-oferta{
    background: var(--color-principal);
    color: #fff;
}

.grid-product .product-item .p-info{
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 265px);
}

.grid-product .product-item .p-info h3{
    font-size: 18px;
    font-weight: 600;
    color: var(--color-negro);
    line-height: 26px;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
}

.grid-product .product-item .p-info .precio{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.grid-product .product-item .p-info .precio span{
    font-size: 24px;
    font-weight: 700;
    color: var(--color-negro);

}

.grid-product .product-item .p-info .precio span.thash{
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    color: #A7A7A7;
    text-decoration: line-through;
}

.grid-product .product-item .p-info .hm-btn{
    width: 100%;
}


/*=================================
    ESTILOS: RESPOIVE
==================================*/
@media screen and (max-width: 1024px){
    .grid-product{
        grid-template-columns: repeat(3,calc(33.33% - 2rem*2/3));
        column-gap: 2rem;
        row-gap: 2rem;
    }
}

.hm-header .icon-menu{
    display: none;
}

@media screen and (max-width: 800px){
    .hm-banner{
        height: 400px;
        min-height: 400px;
    }

    .hm-grid-category,
    .grid-product{
        grid-template-columns: repeat(2,calc(50% - 2rem*1/2));
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .hm-header .hm-menu ul{
        display: none;
    }

    .hm-header .icon-menu{
        display: block;
        margin-left: 20px;

    }

    .hm-header .icon-menu button{
        background: transparent;
        border: none;
        font-size: 22px;
        color: var(--color-negro);
    }

    footer .foo-row{
        flex-direction: column;
    }

    footer .foo-row .foo-col{
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    footer .foo-row .foo-col ul{
        display: none;
    }

    .hm-tabs .hm-tab-link{
        margin: 0px 10px;
        margin-bottom: 10px;
    }

    /* menu */
    .header-menu-movil{
        background: var(--color-principal);
        position: fixed;

        display: block;
        padding: 40px;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        transition: all .3s ease;
        transform: translate(-100%);
    }

    .header-menu-movil.active{
        transform: translate(0%);
    }

    .header-menu-movil .cerrar-menu{
        position: absolute;
        top: 15px;
        right: 15px;
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 50%;
        border: none;
        background: #fff;
        font-size: 18px;
        color: var(--color-negro);
    }

    .header-menu-movil ul li{
        position: relative;
        margin: 10px 0px;
    }

    .header-menu-movil ul li a{
        display: inline-block;
        color: #fff;
    
    }
}

/*contactenos */

h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0744a0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #5873cc;
}
/*contactenos */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #fff;
    background-color:#0744a0;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.contact-container {
    display: flex;
    background-color: #c2d0e2;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.form-container {
    flex: 1;
    padding-right: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    font-family: 'Poppins', sans-serif;
}

textarea {
    resize: vertical;
    height: 100px;
    font-family: 'Poppins', sans-serif;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0744a0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.form-group button:hover {
    background-color: #3975ce;
    font-family: 'Poppins', sans-serif;
}
/* Mapa */
.map-container {
    flex: 1;
    height: 350px;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
    
    .form-container,
    .map-container {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #e3f0ff;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.notification p {
    margin: 0;
    padding-right: 20px;
}

.notification button {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
} 

@media screen and (max-width: 400px){
    .hm-banner{
        height: 320px;
        min-height: 320px;
    }

    .hm-grid-category{
        grid-template-columns: repeat(2,calc(50% - 1rem*1/2));
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .grid-product {
        grid-template-columns: repeat(1,100%);
        column-gap: 1rem;
    }


    .hm-tabs .hm-tab-link{
        margin: 0px 10px;
        margin-bottom: 10px;
    }
}

/*=================================
    ESTILOS: Footer
==================================*/
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    text-align: center;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
    
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}